body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  line-height: 1.25;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #4285f4;
}

blockquote {
  margin: 0;
  padding: 0;
}

#PlaceholderContainer {
  display: none;
}

.Button.Button--close {
  background-color: #fff;
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px #fff;
  color: #d4d4d4;
  cursor: pointer;
  font-size: 20px;
  line-height: 22px;
  height: 24px;
  position: fixed;
  text-align: center;
  right: 14px;
  top: 12px;
  transition: all 0.2s;
  width: 24px;
}

.Button.Button--close:hover {
  color: #4285f4;
  border-color: #4285f4;
}

.List {
  border-right: 4px solid #d9d9d9;
  padding: 10px 10px 30px;
}

.SearchItem {
  padding: 6px;
}

.SearchItem pre {
  white-space: normal;
}

.SearchItem .SearchItem-header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 6px;
  padding-bottom: 6px;
  overflow: auto;
}

.SearchItem .SearchItem-header-title {
  display: inline-block;
  font-size: 24px;
  letter-spacing: 1px;
  margin-right: 6px;
}

.SearchItem .SearchItem-header-source {
  display: inline-block;
  font-size: 12px;
  opacity: 0.85;
}

.SearchItem .SearchItem-header-source-link {
  color: #4285f4;
}

.SearchItem .SearchItem-result {
  font-size: 14px;
  margin-bottom: 8px;
}

.SearchItem .SearchItem-result .SearchItem-result-text,
.SearchItem .SearchItem-result .SearchItem-result-link {
  display: inline-block;
}

.SearchItem .SearchItem-result .SearchItem-result-text {
  after: ':';
}

.SearchItem .SearchItem-result,
.SearchItem .SearchItem-abstract {
  margin-bottom: 10px;
}

.SearchItem .SearchItem-relatedTopics {
  margin-bottom: 14px;
}

.SearchItem .SearchItem-relatedTopics {
  padding-top: 8px;
}

.SearchItem .SearchItem-relatedTopics .SearchItem-relatedTopics-heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.SearchItem .SearchItem-relatedTopics .SearchItem-relatedTopics-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.SearchItem .SearchItem-relatedTopics .SearchItem-relatedTopics-list-item {
  font-size: 16px;
  margin: 0 0 16px;
  overflow: hidden; /* for now */
}

.SearchItem .SearchItem-relatedTopics .SearchItem-relatedTopics-list-item a {
  display: block;
}

.SearchItem .SearchItem-relatedTopics .SearchItem-relatedTopics-list-item-link {
  color: #bebebe;
  font-size: 12px;
  margin-top: 2px;
}

.SearchItem .SearchItem-relatedTopics .SearchItem-relatedTopics-list-item-link:hover {
  color: #343434;
}

.Credits {
  background-color: #fff;
  bottom: 0;
  box-shadow: -5px -5px 20px 5px #fff;
  padding: 8px 4%;
  position: fixed;
  text-align: right;
  width: 91%;
}
